* {
	padding: none;
	margin: none;
	color: #ffffff;
}

h3 {
	color: #2c3e50;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 700;
}

footer {
	background-image:
    linear-gradient(
      45deg, 
      #C04848, #480048
    );
    width: 100%; 
    margin-top: 8%;
    padding: 20px 20px;
    border-top: solid #78909c 10px;
}

.jumbotron {
	background-image:
    linear-gradient(
      45deg, 
      #C04848, #480048
    );
}

.main {
	margin-bottom: 5%;
}